@{
    ViewData["Title"] = "Delete";
}
<br />
<h2 class="text-info">Role Deletion Form</h2>

<form asp-action="Delete" name="registration" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <h4 style="color:red">Do you want to Delete this.?</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" value="@ViewBag.id" name="id" />
        <div class="form-group row">
            <div class="col-2">
                <label>Role Name</label>
            </div>

            <div class="col-5">

                <input id="name" readonly="readonly" name="name" class="form-control" value="@ViewBag.name" />

            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Delete" />
            <a asp-action="Index" class="btn btn-success"> <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Back to List</a>
        </div>
    </div>
</form>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    }


