@model E_Library.Models.AuthUser.UserActiveFormVM

@{
    ViewData["Title"] = "Active";
}

<br />
<h2 class="text-info">User Information</h2>

<form asp-action="Active" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UserName"></label>
            </div>
            <div class="col-5">
                <input asp-for="UserName" class="form-control" readonly="readonly" />

            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FirstName"></label>
            </div>
            <div class="col-5">
                <input asp-for="FirstName" class="form-control" readonly="readonly" />

            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MiddleName"></label>
            </div>
            <div class="col-5">
                <input asp-for="MiddleName" class="form-control" readonly="readonly" />

            </div>
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="LastName"></label>
            </div>
            <div class="col-5">
                <input asp-for="LastName" class="form-control" readonly="readonly" />

            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-5">
                <input asp-for="Email" class="form-control" readonly="readonly" />

            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="RegNo"></label>
            </div>
            <div class="col-5">
                <input asp-for="RegNo" class="form-control" readonly="readonly" />

            </div>
            <span asp-validation-for="RegNo" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="DeptName"></label>
            </div>
            <div class="col-5">
                <input asp-for="DeptName" class="form-control" readonly="readonly" />

            </div>
            <span asp-validation-for="DeptName" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PhoneNumber"></label>
            </div>
            <div class="col-5">
                <input asp-for="PhoneNumber" class="form-control" readonly="readonly" />

            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Address"></label>
            </div>
            <div class="col-5">
                <input asp-for="Address" class="form-control" readonly="readonly" />

            </div>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <h5>If you want to Active this User...?</h5>
@*            <a type="button" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>*@
            <input type="submit" class="btn btn-primary" value="Active" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    }


