@model E_Library.Models.BooksCategory.CategoryDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CategoryDetailsVM</h4>
    <hr />
    <dl class="row">
       
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
       
     
      
    </dl>
</div>
<a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit Data</a>
<a class="btn btn-info" asp-action="Index" asp-controller="Category">Back To List</a>