@model E_Library.Models.BooksCategory.RoleDeleteVM

@{
    ViewData["Title"] = "Delete";
}



<div>
    <h4>Category Delete Form</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <h4 class="text-danger">Do you want to Delete this Category..?</h4>
        <input type="submit" class="btn btn-outline-danger" value="Delete Data" />
        <a class="btn btn-outline-info" asp-action="Index" asp-controller="Category"> <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Back To List</a>

    </form>
</div>
