@using E_Library.Models.BooksCategory
@model IEnumerable<RoleListVM>

@{
    ViewData["Title"] = "Index";
    int serialNo = 1;
}
<h1 style="color:green; text-align:center">Book Category Index</h1>
<br />
<a class="btn btn-success" asp-action="Create" asp-controller="Category"> <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;New Category</a>

<table border="3" class="table table-bordered table-hover table-striped">
    <thead class="text-center">
        <tr>
            <th >
              Serial No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
          
           
            <th>Actions</th>
        </tr>
    </thead>

    @if(!Model.Any())
    {
        <h3>ViewBag.Message</h3>
    }
    else
    {
        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(serialNo++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>

                    <partial name="_ButtonPartial" model="@item.Id" />
                </tr>
            }
        </tbody>
    }
   
</table>
